name: "Check README, text and R code"

on:
  push:
    paths:
      - '**/*.md'
      - '**/words.dic'
      - '**/*.R'

  pull_request:
    paths:
      - '**/*.md'
      - '**/words.dic'

jobs:
  MDSpelling:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Prerrequisites
        run:   make prespell
      - name: Spell check
        run: make spellcheck
      - uses: r-lib/actions/setup-r@v2
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check
      - uses: r-lib/actions/check-r-package@v2
        with:
          working-directory: code/R
      - uses: r-lib/actions/setup-pandoc@v2
      - name: Generate pages
        run: make html
      - name: Check in result
        run: git config --global user.email 'jjmerelo@gmail.com' && git config --global user.name "MLoPS bot" && git commit -am "Re-generated HTML" && git push
